<h1>People#new</h1>
<p>Find me in app/views/people/new.html.erb</p>

<div class="container">

  <%= form_for @person do |f| %>



    <div class="sex-field">
      <%= f.label 'Sex: ' %>
      <%= f.label 'Male' %>
      <%= f.radio_button :sex, 'M' %>
      <%= f.label 'Female' %>
      <%= f.radio_button :sex, 'F' %>
    </div>

    <div class="birthday-field">
      <%= f.label 'Birthday: ' %>
      <%= f.date_field :birthday %>
    </div>

    <div class="current-income-field">
      <%= f.label :current_income, 'Current Income: ' %>
      <%= f.text_field :current_income %>
    </div>

    <div class="claim-date-field">
      <%= f.label 'Desired Claim Date: ' %>
      <%= f.date_field :claim_date %>
    </div>

    <%= f.submit 'Submit' %>
  <% end %>
    
</div>